In [15]:
# LIST - MUTABLE DYNAMIC ARRAY SEQUENCE OF VALUES

num=[10,20,30,40,50]
name = ["Sanjay", "Sunil", "Subodh", "Suresh", "Sapna"]

animal = ["Zebra", 155.5, 110] # list can contain dissimilar items
ages=[25,26,25,27,26]   # duplicates allowed
num=[10]*5  # stores [10,10,10,10,10]
lst=[]  # Empty list valid

#printing list by using name of the list

l=["Hello", 20, True, 78.23]
print(l)

# Individual elements in the list can be accessed using indices

animal=["Zebra", 155.5, 110]
ages=[25,26,25,27,26]

print(animal[0],ages[3])

# Slicing of like string list

animal=["Zebra", 155.5, 110, 45, ]
ages=[25, 26, 25, 27, 26]

print(animal[1:4])
print(ages[1:3])
print(ages[3:])
print(ages[:3])

['Hello', 20, True, 78.23]
Zebra 27
[155.5, 110, 45]
[26, 25]
[27, 26]
[25, 26, 25]

In [11]:
# 18 12 2025 
# LOOPING IN LIST

#Ex1
animals=["Zebra, Tiger,Lion, Jackal, Kangaroo"]

i=0
while i < len(animals):
    print(animals[i])
    i+=1

for a in animals:
    print(a)
""
animals=["Zebra", "Tiger","Lion", "Jackal", "Kangaroo"]
for index,a in enumerate(animals):
    print(index, a)

Zebra, Tiger,Lion, Jackal, Kangaroo
Zebra, Tiger,Lion, Jackal, Kangaroo
0 Zebra
1 Tiger
2 Lion
3 Jackal
4 Kangaroo

In [14]:
# Basic List Operations
animals=["Zebra", "Tiger","Lion", "Jackal", "Kangaroo"]
ages=[25,26,25,27,26,28,25]


print(id(animals))

animals[2] = "Rhino"
print(animals)
print(id(animals))


ages[5]=31
print(ages)
ages[2:5]=[24,25,32]
print(ages)

ages[2:5]=[1]
print(ages)

2209222770624
['Zebra', 'Tiger', 'Rhino', 'Jackal', 'Kangaroo']
2209222770624
[25, 26, 25, 27, 26, 31, 25]
[25, 26, 24, 25, 32, 31, 25]
[25, 26, 1, 31, 25]

In [18]:
# Concactenation: (append)

lst = [3,4,5,5]
lst= lst+[0,1,10,12]

print(lst)

#Merging of two data

a=[1,2,3,4,5]
b=[10,11,12,13]

c=a+b
d=a+b+[12,12,1,2]

print(c)
print(d)

[3, 4, 5, 5, 0, 1, 10, 12]
[1, 2, 3, 4, 5, 10, 11, 12, 13]
[1, 2, 3, 4, 5, 10, 11, 12, 13, 12, 12, 1, 2]

In [ ]:
#CONVERSION- STRING/TUPLE/SET

#STRING

l=list("Japan")
print(l)

# tuple
t=(10,"Hello", True, 23.12)
#l=list(t)
print(t)

#SET
s={45, "Apple", True, 23.12}
l=list(s)
print(l)

['J', 'a', 'p', 'a', 'n']
{True, 10, 'Hello', 23.12}
[True, 45, 'Apple', 23.12]

In [33]:
# dict
d={ "Age":10,
    "Name":"Arjun",
    "is Adult":True,
    "per":98.87
}
l=list(d)
print(l)

['Age', 'Name', 'is Adult', 'per']

In [ ]:
# Aliasing

lst1 = [10,20,30,40,50,60]
lst2 = lst1

index1 = id(lst1)
index2 = id(lst2)



if index1 == index2:
    print("Both the list have same memory address")
else:
    print("Both the list have different memory address")

print(lst1)
print(lst2)

lst1[0]=100

print(lst1)
print(lst2)

[10, 20, 30, 40, 50, 60]
[10, 20, 30, 40, 50, 60]
Both the list have same memory address
[10, 20, 30, 40, 50, 60]
[10, 20, 30, 40, 50, 60]
[100, 20, 30, 40, 50, 60]
[100, 20, 30, 40, 50, 60]

In [43]:
#CLONING

lst1 = [10,20,30,40,50,60]
lst2=[]

lst2=lst2+lst1

ndex1 = id(lst1)
index2 = id(lst2)



if index1 == index2:
    print("Both the list have same memory address")
else:
    print("Both the list have different memory address")


print(lst1)
print(lst2)

lst1[0]=100

print(lst1)
print(lst2)

Both the list have different memory address
[10, 20, 30, 40, 50, 60]
[10, 20, 30, 40, 50, 60]
[100, 20, 30, 40, 50, 60]
[10, 20, 30, 40, 50, 60]