In [15]:
# LIST - MUTABLE DYNAMIC ARRAY SEQUENCE OF VALUES

num=[10,20,30,40,50]
name = ["Sanjay", "Sunil", "Subodh", "Suresh", "Sapna"]

animal = ["Zebra", 155.5, 110] # list can contain dissimilar items
ages=[25,26,25,27,26]   # duplicates allowed
num=[10]*5  # stores [10,10,10,10,10]
lst=[]  # Empty list valid

#printing list by using name of the list

l=["Hello", 20, True, 78.23]
print(l)

# Individual elements in the list can be accessed using indices

animal=["Zebra", 155.5, 110]
ages=[25,26,25,27,26]

print(animal[0],ages[3])

# Slicing of like string list

animal=["Zebra", 155.5, 110, 45, ]
ages=[25, 26, 25, 27, 26]

print(animal[1:4])
print(ages[1:3])
print(ages[3:])
print(ages[:3])

['Hello', 20, True, 78.23]
Zebra 27
[155.5, 110, 45]
[26, 25]
[27, 26]
[25, 26, 25]

In [11]:
# 18 12 2025 
# LOOPING IN LIST

#Ex1
animals=["Zebra, Tiger,Lion, Jackal, Kangaroo"]

i=0
while i < len(animals):
    print(animals[i])
    i+=1

for a in animals:
    print(a)
""
animals=["Zebra", "Tiger","Lion", "Jackal", "Kangaroo"]
for index,a in enumerate(animals):
    print(index, a)

Zebra, Tiger,Lion, Jackal, Kangaroo
Zebra, Tiger,Lion, Jackal, Kangaroo
0 Zebra
1 Tiger
2 Lion
3 Jackal
4 Kangaroo

In [14]:
# Basic List Operations
animals=["Zebra", "Tiger","Lion", "Jackal", "Kangaroo"]
ages=[25,26,25,27,26,28,25]


print(id(animals))

animals[2] = "Rhino"
print(animals)
print(id(animals))


ages[5]=31
print(ages)
ages[2:5]=[24,25,32]
print(ages)

ages[2:5]=[1]
print(ages)

2209222770624
['Zebra', 'Tiger', 'Rhino', 'Jackal', 'Kangaroo']
2209222770624
[25, 26, 25, 27, 26, 31, 25]
[25, 26, 24, 25, 32, 31, 25]
[25, 26, 1, 31, 25]

In [18]:
# Concactenation: (append)

lst = [3,4,5,5]
lst= lst+[0,1,10,12]

print(lst)

#Merging of two data

a=[1,2,3,4,5]
b=[10,11,12,13]

c=a+b
d=a+b+[12,12,1,2]

print(c)
print(d)

[3, 4, 5, 5, 0, 1, 10, 12]
[1, 2, 3, 4, 5, 10, 11, 12, 13]
[1, 2, 3, 4, 5, 10, 11, 12, 13, 12, 12, 1, 2]

In [ ]:
#CONVERSION- STRING/TUPLE/SET

#STRING

l=list("Japan")
print(l)

# tuple
t=(10,"Hello", True, 23.12)
#l=list(t)
print(t)

#SET
s={45, "Apple", True, 23.12}
l=list(s)
print(l)

['J', 'a', 'p', 'a', 'n']
{True, 10, 'Hello', 23.12}
[True, 45, 'Apple', 23.12]

In [33]:
# dict
d={ "Age":10,
    "Name":"Arjun",
    "is Adult":True,
    "per":98.87
}
l=list(d)
print(l)

['Age', 'Name', 'is Adult', 'per']

In [ ]:
# Aliasing

lst1 = [10,20,30,40,50,60]
lst2 = lst1

index1 = id(lst1)
index2 = id(lst2)



if index1 == index2:
    print("Both the list have same memory address")
else:
    print("Both the list have different memory address")

print(lst1)
print(lst2)

lst1[0]=100

print(lst1)
print(lst2)

[10, 20, 30, 40, 50, 60]
[10, 20, 30, 40, 50, 60]
Both the list have same memory address
[10, 20, 30, 40, 50, 60]
[10, 20, 30, 40, 50, 60]
[100, 20, 30, 40, 50, 60]
[100, 20, 30, 40, 50, 60]

In [71]:
#CLONING

lst1 = [10,20,30,40,50,60]
lst2=[]

lst2=lst2+lst1

index1 = id(lst1)
index2 = id(lst2)



if index1 == index2:
    print("Both the list have same memory address")
else:
    print("Both the list have different memory address")


print(lst1)
print(lst2)

lst1[0]=100

print(lst1)
print(lst2)

Both the list have different memory address
[10, 20, 30, 40, 50, 60]
[10, 20, 30, 40, 50, 60]
[100, 20, 30, 40, 50, 60]
[10, 20, 30, 40, 50, 60]

In [ ]:
original_list=[1,2,3]       # copy function
new_list=original_list.copy()
print(new_list)

[1, 2, 3]

In [4]:
lst1=[10,20,30,40,50]
lst2=[10,20,30,40,50]
lst3=lst1

print(lst1 is lst2)
print(lst1 is lst3)
print(lst1 is not lst2)

#  identify difference between int & str

num1=10; s1="Hii"
num2=10; s2="Hii"

print(num1 is num2)
print(s1 is s2)

print(s1 is not s2)

False
True
True
True
True
False

In [9]:
# Searching an element in list

lst=['a','e','i','o','u']

print('a' in lst)
print('b' in lst)
print('d' not in lst)

True
False
True

In [15]:
# comparison - of content in two list

lst1=[1,2,3,4,5]
lst2=[1,2,3]
print(lst1>lst2)

True

In [16]:
lst=[]

if not lst:
    print("Empty List")
else:
    print("not an empty list")

Empty List

In [ ]:
# 23/12/25
# Built in functions on list

num=[10,10,10,10,10,10,10,10]       # number of items in list
length = len(num)
print(length)
print(len(num))

8
8

In [26]:
#  maximum elements in the list

#Example 1
num=[456,233,9756,323,1212]
maximum1=max(num)
print(maximum1)

#Example 2
#lst = ["Hello", 78.13, 53, True, "World!"]
#maximum2=max(lst)
#print(maximum2)

lst=["Hello", "world!"]
maximum3=max(lst)
print(maximum3)

9756
world!

In [ ]:
# mine elemet in the list

num=[345,456,982,1100,3423,0]
minimum1=min(num)
print(minimum1)

#lst = ["Hello", 78.13, 53, True, "World!"]  # not  supported for printing
#minimum2=min(lst)
#print(minimum2)

lst=["Hello", "World!"]
minimum3=min(lst)
print(minimum3)

0
Hello

In [ ]:
#sum - sum of all elements in the list

num=num=[5,46,92,10,33,0]
print(sum(num))

lst=[67.78, 54, True] # 
print(sum(lst))

186
122.78

In [43]:
# using "all and any" instead of "and & or"ArithmeticError

a,b,c =10,20,30
t=(a>5, b>20, c>15)
print(t)

result1=all((a>5, b>20, c>15))
result1=all(t)
print(result1)
print(type(result1))

result2=any((a>5, b>20, c>15))
print(result2)
print(type(result2))

(True, False, True)
False
<class 'bool'>
True
<class 'bool'>

In [44]:
# check all ellemebnts in the list are greater than 0

my_list = [1,3,5,7,9]

print(all(x>0 for x in my_list))

# if one element is true in list
my_list = [1,3,5,7,9]
print(any(x%2==0 for x in my_list))

True
False

In [69]:
#delete element or slice or entire list

lst=[10,20,30,40,50]

del(lst[3])
print(lst)

del(lst[2:5])
print(lst)

del(lst[0:2])
print(lst) # why printing blank

del(lst[:])
print(lst)

[10, 20, 30, 50]
[10, 20]
[]
[]

In [63]:
#clear()  remove all elements from list

my_list=[1,2,3]
print(id(my_list))

my_list.clear()     # being . ( dot) it is methond and not function
print(my_list)
print(id(my_list))

1547238960896
[]
1547238960896

In [67]:
#sort() 
lst=[100,20,3,40]
index1=id(lst)
lst.sort() #method - arrange the numbers in ascending order
index2=id(lst)
print(lst)

if index1==index2:
    print("memory address is same")
else:
     print("memory address is different")

[3, 20, 40, 100]
memory address is same

In [75]:
#sorted()

lst1=[10,2,0,50,4]
index1=id(lst1)

lst2=sorted(lst1)
index2=id(lst2)
print(lst2)


if index1 == index2:
    print("memory address is same")
else:
    print("memory address  is different")

[0, 2, 4, 10, 50]
memory address  is different

In [79]:
#reverse() = prints list in reverse form i.e. from last digit to first digit, however content remains unchanged

lst=[10,2,0,50,4]
lst.reverse()
print(lst)

[4, 50, 0, 2, 10]

In [81]:
#reversed() another list created in reverse order 

lst1=[10,2,0,50,4]
index1=id(lst1)

lst2=reversed(lst1)
index2=id(lst2)
print(lst2)

lst2=list(reversed(lst1))
index2=id(lst2)
print(lst2)

<list_reverseiterator object at 0x000001683E5937C0>
[4, 50, 0, 2, 10]

In [84]:
l = [1,2,4,6,7,4]

print(id(l))

l.append("Sonali")

print(id(l))

print(l)

1547240502208
1547240502208
[1, 2, 4, 6, 7, 4, 'Sonali']

In [90]:
l = [1,2,4,6,7,4]

l.insert(2,"Sonali")

value = l.remove(4)

print(l)
print(value)

[1, 2, 'Sonali', 6, 7, 4]
None

In [89]:
l = [1,1,2,2,3,3,4,4]

value = l.pop(2)

print(l)
print(value)

[1, 1, 2, 3, 3, 4, 4]
2

In [6]:
#LIST METHOD
#1. APPEND

lst=[1,2,3,4,5,6,7,0]
lst.append(8)
lst.append("Sonali")
lst.append("@")
lst.append("ZZ$123.5")
print(lst)

[1, 2, 3, 4, 5, 6, 7, 0, 8, 'Sonali', '@', 'ZZ$123.5']

In [13]:
#2 EXTEND
lst1=[0,9,8,7,6]
lst2=[1,2,3,4,5]
lst3=[lst1, lst2, "a,s,d,f"]
lst1.extend(lst2)

print(lst1)
print(lst3)

[0, 9, 8, 7, 6, 1, 2, 3, 4, 5]
[[0, 9, 8, 7, 6, 1, 2, 3, 4, 5], [1, 2, 3, 4, 5], 'a,s,d,f']

In [ ]:
# 3 INSERT(index, value) , Inserts an element at specific position 

lst=[45,54,36]
print(lst)

lst.insert(1,9)     # number 1 is the position where we want to insert something and then character after comma(,)  
print(lst)          # is the element which we wish to insert

lst.insert(2,"Sonali")
print(lst)

[45, 54, 36]
[45, 9, 54, 36]
[45, 9, 'Sonali', 54, 36]

In [ ]:
# 4 REMOVE VALUE .remove()    removes specified value in the bracket

lst=[1,2,3,4]
lst.remove(1)   # only one element can be removed at a time
print(lst)

lst.remove(20)  # as 20 is not in the original listed list so error has occured
print(lst)

[2, 3, 4]

ValueError: list.remove(x): x not in list

In [ ]:
# 5 POP INDEX 
lst=[1,2,3,4]
print(lst)

tress=lst.pop(1)    # here number 2 from the position 1 from the original list has been popped out
print(tress)    # number 2 will be popped out and printed
print(lst)  # list will be printed without number 2

tress=lst.pop() # as no position numnebr mentioned in the bracket so by default it will pop out last number in the list.
print(tress)
print(lst)

tress=lst.pop(4)    # here 4th position is out of range of original list so occuring error
print(tress)
print(lst)

[1, 2, 3, 4]
2
[1, 3, 4]
4
[1, 3]

IndexError: pop index out of range

In [37]:
# 6 count(value)    how frequently the particular niumber has been appeared in the given list
lst1=[1,2,3,4,5,3,5,2,0,3]
lst2=["Yash", "Dhanashree", "Mahi", "Yash", "Yash"]     # it is case sensitive
count1=lst1.count(5)
count2=lst2.count("Yash")

print(count1)
print(count2)

print(id(lst1))
print(id(lst2))

2
3
2606523440832
2606523823936

In [ ]:
# 7 INDEX VALUE

lst=[1,2,3,4,5,6]
print(lst.index(3)) # position of the number 3 i.e. 2 will be printed

print(lst.index(45))    # as there is no 45 number in the list so error would occur

2

ValueError: list.index(x): x not in list

In [40]:
# 8 copy()

lst=[1,2,3,4,5]
lst2=lst.copy()
print(lst2)

[1, 2, 3, 4, 5]

In [41]:
# 9 clear()
lst=[1,2,3,4,5,6]
lst.clear()
print(lst)

[]

In [43]:
a = [1, 2, 3, 4, 5, 6]
b = [7, 8, 9, 10, 11, 12]

c = [a, b]

print(a)
print(b)
print(c)


a[2] = 33


print(a)
print(b)
print(c)

[1, 2, 3, 4, 5, 6]
[7, 8, 9, 10, 11, 12]
[[1, 2, 3, 4, 5, 6], [7, 8, 9, 10, 11, 12]]
[1, 2, 33, 4, 5, 6]
[7, 8, 9, 10, 11, 12]
[[1, 2, 33, 4, 5, 6], [7, 8, 9, 10, 11, 12]]

In [47]:
a = [1, 2, 3, 4, 5, 6]
b = [7, 8, 9, a, 11, 12]

print(a)
print(b)

[1, 2, 3, 4, 5, 6]
[7, 8, 9, [1, 2, 3, 4, 5, 6], 11, 12]

In [48]:
a = [1, 2, 3, 4, 5, 6]
b = [7, 8, 9, *a, 11, 12]

print(a)
print(b)

[1, 2, 3, 4, 5, 6]
[7, 8, 9, 1, 2, 3, 4, 5, 6, 11, 12]

In [ ]:
name= "Sonali"

lst1 = list(name)

print(lst1)

['S', 'o', 'n', 'a', 'l', 'i']

In [50]:
name= "Sonali"

lst2 = [*name]

print(lst2)

['S', 'o', 'n', 'a', 'l', 'i']

In [27]:
#List methods
#ASSIGNMENT LIST 

# 1. Sum and Multiplication
num=[11,21,31,41,51]
Total=sum(num)
print(Total)

#2. MULTIPLICATION
import math
num=[3,4,4,2]
mlt=math.prod(num)
print(mlt)

# 3. largest Number and smallest number

num=[23,234,244,52]
largest=max(num)
print(largest)

smallest=min(num)
print(smallest)

# 4 Second largest or second smallest number

num=[15,23,234,100,244,52]
num.sort()
print(num)

ss=num[1]
sl=num[-2]
print(ss)
print(sl)

# 5 Counting the numbers in list

num=[15,23,234,100,244,52]
count=len(num)
print(count)

#6 Sorting numbers of list
num=[15,23,234,100,244,52]
num.sort()
print(num)

# 7 Remove duplicate/

num=[15,100,23,52,15,234,15,100,244,52]
dup = list(set(num))
print(dup)

# 8 remove nth-element from list ( pop)

num=[2,3,5,6,8,9,0]
pop=num.pop(-1)
print(pop)

155
96
244
23
[15, 23, 52, 100, 234, 244]
23
234
6
[15, 23, 52, 100, 234, 244]
[100, 234, 15, 52, 244, 23]
0